[2017-01-06 01:04] nathanhleung opened #1 "nix the npm dependency"
We're really just sending an HTTP request to the registry API, we can take out the npm dependency and just use node's native http.request

[2017-01-06 04:04] nathanhleung commented on #1
done!

[2017-01-06 04:04] #1 closed

[2017-01-06 04:04] nathanhleung opened #2 "throw error when user uses --silent with --dev"
it doesn't make sense when someone does this

[2017-01-06 22:36] nathanhleung commented on #2
fixed!

[2017-01-06 22:36] #2 closed

[2017-02-22 17:05] ibigpapa opened #3 "Support proxy envs"
i've got http, https, and ftp proxy envs set both in caps and lower and this times out.

[2017-02-22 17:13] ibigpapa commented on #3
http://stackoverflow.com/questions/3862813/how-can-i-use-an-http-proxy-with-node-js-http-client

Found that which looks like all that's left is to wire up the logic of insspecting environment vars

[2017-02-24 14:30] nathanhleung commented on #3
Hi! Do you want to submit a pull for this?

[2017-03-10 17:53] mightyiam opened #7 "Public API"
This is great. Thank you.

I would like the API exposed and declared in `packages.json`’s `main`.

[2017-03-10 17:53] mightyiam commented on #7
Officially documented, that is. Public.

[2017-03-10 17:55] mightyiam commented on #7
Actually, I take it back. I found out I don't have a use for it.

[2017-03-10 17:55] #7 closed

[2017-05-13 17:14] nathanhleung opened #8 "airbnb-config-eslint no-restricted-syntax parsing error"
The package.json on the [v14.1.0](https://github.com/airbnb/javascript/blob/eslint-config-airbnb-v14.1.0/packages/eslint-config-airbnb/package.json) tag of [eslint-config-airbnb](https://github.com/airbnb/javascript) lists the peer dependency eslint@^3.15.0 as the minimum eslint version needed to get the package working, but when that version of eslint is installed with the currently published npm

[2017-09-12 17:34] okonet opened #9 "Use with `postinstall`"
I'm trying to use this package to install `peerDependencies` for [my shared config](https://github.com/okonet/eslint-config-okonet) in a config consumer repository using the `postinstall` script like this: https://github.com/okonet/eslint-config-okonet/pull/4/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R11

but this produces the following error:

[code]

I'm not sure why it's trying to install the

[2017-09-13 00:31] #9 closed

[2017-09-13 09:25] okonet opened #11 "Not updating package.json when using locally installed version"
When I'm using it in the `postinstall` script (https://github.com/okonet/eslint-config-okonet/blob/master/package.json#L11), the `package.json` won't updated and I still get npm warnings:

[code]

Additionally, when running manually, I see duplicated success message:

[code]

[2017-09-13 09:31] okonet commented on #11
Okay I think the second message is coming from my `postinstall` script so I've updated the issue

[2017-09-14 00:38] nathanhleung commented on #11
Thanks for the issue - I can't look at this right now, but in the meantime if you find out what's going on please let me know.

I have a feeling the issue might be in the `spawn` call, perhaps you could check that out? (e.g. `console.log` the arguments)

[2017-09-14 10:32] okonet commented on #11
Related SO question: https://stackoverflow.com/questions/41531609/install-npm-package-on-postinstall

[2017-09-14 10:37] okonet commented on #11
Related issue: https://github.com/npm/npm/issues/17732

[2017-09-26 08:05] qighliu29 opened #12 "support for package@x.x.x-beta.x"
it failed to parse the package name when executing `install-peerdeps bootstrap@4.0.0-beta` and got the error:
`C:\Users\Administrator\AppData\Roaming\npm\node_modules\install-peerdeps\lib\cli.js:86`
     `packageName = parsed[1];`

[2017-09-28 22:27] nathanhleung commented on #12
Thanks for sending this issue - can you paste the output from the Terminal after running the command?

[2017-10-12 20:51] tnrich opened #13 "option to not require permission to install on yarn."
Hey there,

My post install script is getting hung up and not finishing:

![image](https://user-images.githubusercontent.com/2730609/31516668-57904cb2-af67-11e7-86f9-85094e1da4da.png)

I think if there were an option to auto-install if yarn is detected that would fix the issue for me. Thanks!

[2017-10-13 20:58] nathanhleung commented on #13
Hi, to install with Yarn automatically just use the `--yarn` flag, or its shorthand alias `-Y`:

[code]

[2017-10-13 20:58] #13 closed

[2017-10-23 18:25] Zamiell commented on #3
I too have recently found that this program does not obey `HTTP_PROXY` / `HTTPS_PROXY` environment variables, which is quite frustrating. @nathanhleung this would be a welcome addition.

[2017-10-27 23:11] brucewpaul opened #14 "Add explicit `--no-save` when using `-S`"
It would be great if `--no-save` was explicitly used when using `-S`

[2017-10-27 23:17] ljharb commented on #14
@nathanhleung specifically because npm 5+ defaults to `--save`, so `--no-save` is required to bypass the behavior.

[2017-10-27 23:18] brucewpaul commented on #14
Ya, sorry, mean to include that

[2017-10-28 13:57] #14 closed

[2017-10-29 16:20] #8 closed

[2017-10-29 16:22] nathanhleung commented on #3
@Zamiell Thank you for your comment. I've never used proxy environments, however, so I'm not exactly sure how to solve this issue.

Could you tell me how I could set up an environment similar to yours (i.e. with proxies) so I can develop a fix?

[2017-10-29 16:43] Zamiell commented on #3
From Ubuntu 16.04, for example:

[code]
So the curl program is checking for the existence of this environment variable at runtime, and then if it is present, it uses it. Generally speaking, the `HTTP_PROXY`, `HTTPS_PROXY`, `http_proxy`, and `https_proxy` variables are typically the ones obeyed by command line software. Here's an excellent StackExchange thread that goes into more detail: https://un

[2017-11-01 10:56] IAfanasov opened #16 "Use of .npmrc config"
Use .npmrc file to get the registry url

I have a private registry and then I run
`install-peerdeps valhalla-engine-test`

I get en error
`ERR That package doesn't exist. Please try another.`

That because global npm server is used instead of one that setup in .npmrc file

[2017-11-01 15:46] nathanhleung commented on #16
Can you attach your personal .npmrc file so I can take a look at your config?

[2017-11-02 02:06] IAfanasov commented on #16
I'm not comfortable with public access to it. Sent you it in email to @gmail.com

[2017-11-08 01:41] nathanhleung commented on #3
@ibigpapa @Zamiell newest release v1.4.0 should fix this - please test and let me know if you have any problems.

[2017-11-08 01:42] nathanhleung commented on #12
[v1.4.0](https://github.com/nathanhleung/install-peerdeps/releases/tag/v1.4.0) fixes this. Thanks for the issue.

[2017-11-08 01:42] #12 closed

[2017-11-08 01:43] nathanhleung commented on #16
[v1.4.0](https://github.com/nathanhleung/install-peerdeps/releases/tag/v1.4.0) adds a `--registry` option which allows you to specify a registry. Please try it out and let me know if you have any further issues.

[2017-11-08 21:03] Zamiell commented on #3
I tested it out and it doesn't seem to work:
[code]
Maybe @ibigpapa can weigh in?

[2017-11-08 23:30] nathanhleung commented on #3
Could you try running it with the variable in the same command? e.g. `HTTPS_PROXY=https://my.proxy.com:1000/ install-peerdeps --dev eslint-config-airbnb-base`

[2017-11-11 00:21] brucewpaul opened #17 "regex that checks package name fails if there is a ."
When using `enzyme-adapter-react-15.4`, the `.` is causing an error in the regex. Changing the regex to the following at least solved this: `/^@?([\/\w\.-]+)(@([\d\w\.-]+))?$/`

Although, there are additionally concerns in terms of packages names that will continue to break the regex such as scoped packages.

[2017-11-11 00:38] brucewpaul commented on #17
I see now that the tests account for scoped packages (@angular), so nevermind that

[2017-11-11 03:10] nathanhleung commented on #17
fixed in #18

[2017-11-11 03:10] #17 closed

[2017-11-27 21:08] Zamiell commented on #3
I'm on Windows, so what you posted won't work.

[code]

Any tips?

[2017-12-20 03:04] corysimmons opened #19 "Doesn't work"
![image](https://user-images.githubusercontent.com/224636/34189227-8e32e64a-e508-11e7-9561-b14f541224ef.png)

😪

[2017-12-20 15:47] nathanhleung commented on #19
It looks like babel-preset-env doesn't have peerdeps until the beta releases - the current release does not have peerdeps.

See current [package.json](https://github.com/babel/babel-preset-env/blob/master/package.json) and beta [package.json](https://github.com/babel/babel/blob/master/packages/babel-preset-env/package.json).

Can you try running `install-peerdeps babel-preset-env@7.0.0-beta.35`?

[2017-12-21 04:00] corysimmons commented on #19
What are all these warnings then?

![image](https://user-images.githubusercontent.com/224636/34240058-8d5d45f4-e5d9-11e7-8a9c-0f747f7feca7.png)

[2017-12-21 15:32] nathanhleung commented on #19
Can you attach your package.json?

[2017-12-21 19:53] corysimmons commented on #19
tbh no, I deleted the project and moved onto something else.

[2017-12-21 19:53] #19 closed

[2017-12-21 22:29] nathanhleung commented on #19
Ok - I'm still interested in fixing this issue, though, so let me know if you see this problem again.

[2018-01-02 05:51] IAfanasov commented on #16
Only 2 months passed and I'm again working on this task (:

It worked but took me time to figure out that `https://npm.mydomain.com/` is not working and last slash should be removed. So the registry string should be `https://npm.mydomain.com`.

[2018-01-02 06:04] IAfanasov opened #20 "Installed not all dependencies and version string are different"
I made a package with peer deps

[code]

I made a consumer project with only 2 deps:

[code]

I run
`node ./node_modules/install-peerdeps/lib/cli valhalla-engine-test -r https://npm.1forma.ru`

And after it package.json of consumer contains:

[code]

And the issue:
1. not all peer dependencies are installed but there is no warnings about it, that is tolerable. Anyway, I prefer to have all deps lis

[2018-01-02 17:37] nathanhleung commented on #16
Thanks - I added a note to the [README](https://github.com/nathanhleung/install-peerdeps#installing-from-a-custom-registry) about not including the trailing slash

[2018-01-03 02:39] IAfanasov commented on #16
@nathanhleung as a one of the ux tules says: better prevent user opportunity to make error rather then make good error message. so, it would be definitely better to make it work with and without trailing slash

[2018-01-22 08:07] ljharb opened #21 "Breaks on older node"
https://github.com/nathanhleung/install-peerdeps/blob/master/.babelrc#L5 targets node 4; could this be changed to target an earlier version, like 0.10 or 0.8?

[2018-01-22 16:39] nathanhleung commented on #21
I can look into it. What's the earliest version you need?

[2018-01-22 22:13] ljharb commented on #21
For airbnb/prop-types, 0.10 would suffice. Thanks!

[2018-01-23 00:21] nathanhleung commented on #16
Fixed in a57d4f5. Thanks again for the idea.

[2018-01-23 00:21] #16 closed

[2018-01-23 01:26] nathanhleung commented on #20
Sorry for getting to this issue so late. I can answer one of your questions right now but I'm still working on the other two.

For question 1, not sure what's happening. I'll look into it.

For question 2, I changed the version parsing mechanism in 1.5.0. Let me know if it helps.

For question 3, you need to run `install-peerdeps` with the `--only-peers` flag, or else the package itself will also

[2018-01-23 01:28] nathanhleung commented on #21
Just pushed a new release targeting Node v0.10! Let me know if it's working on your end and I can close this issue.

[2018-01-23 04:27] ljharb commented on #21
Thanks! Looks like `has-yarn` also has a similar issue, but this one's all set :-)

[2018-01-23 04:27] #21 closed

[2018-02-09 22:50] bytheway875 opened #22 "Cannot install package that is part of a private organization"
When attempting to install a package that is part of an npm organization @my-organization/package-name, I'm getting an error that says:

`ERR That package doesn't exist. Did you mean to specify a custom registry?`

Even after specifying the registry, I get the error.

Wondering if this might have something to do with the way that the package name gets encoded?

----

Edited To Add: Hmm... the prob

[2018-02-09 22:56] bytheway875 commented on #22
Wondering if it might be because it is a private package and need an auth token?

[2018-02-10 00:40] bytheway875 commented on #22
I created a PR to address and resolve this issue by allowing users to pass their npm token as a header:

https://github.com/nathanhleung/install-peerdeps/pull/23

[2018-02-11 21:08] nathanhleung commented on #22
Closed in #23

[2018-02-11 21:08] #22 closed

[2018-03-24 15:27] Zhouzi opened #24 "Doesn't work with yarn's workspace"
When adding a package to a yarn's workspace-enabled multi packages repository, it fails to add a package because the command needs the `-W` flag. From my understanding, arguments are not passed through.

To reproduce this bug:

1. In a new folder, create a `package.json` with:
[code]
2. Run `yarn`
3. Run `install-peerdeps <package> --dev -W -Y`

The command fails with:

[2018-03-24 16:09] nathanhleung commented on #24
Thanks for the issue. I can get to it in a few days, but if you need a quick fix please feel free to submit a pull request!

You'd need to add the option here: https://github.com/nathanhleung/install-peerdeps/blob/master/src/cli.js#L41

And then pass it in the options object here: https://github.com/nathanhleung/install-peerdeps/blob/master/src/cli.js#L129

And finally add the `-W` flag here: http

[2018-03-24 23:09] Zhouzi commented on #24
No problem, I actually went the plain old way and simply installed the peer dependencies one by one. Actually, I was giving `install-peerdeps` a try for the first time and assumed that arguments were passed through. Apparently, it's more complicated than I thought.

But would that be feasible? Passing arguments through?

[2018-05-16 01:21] markstory opened #25 "Using a version number range results in a TypeError"
I attempted to use a version number range with `install-peerdeps` and got a TypeError. To reproduce you can do the following:

[code]

I was hoping to have a version number resolved based on the constraint as `npm` and `yarn` would do.

[2018-05-20 18:18] #25 closed, assigned to nobody

[2018-05-20 22:30] markstory commented on #25
Thank you!

[2018-05-30 02:31] nathanhleung opened #26 "tests are failing on Node 0.10"
need to get tests working on 0.10

[2018-06-15 05:08] ljharb opened #27 "`has-yarn` uses `const`"
Instead of using `has-yarn` - since it uses `const` and an arrow function, could we just inline this simple oneliner? https://unpkg.com/has-yarn@1.0.0/index.js

This is needed to allow enzyme-adapter-react-helper to work on older nodes.

[2018-06-15 18:05] #27 closed

[2018-06-15 18:05] nathanhleung commented on #26
Fixed by #28

[2018-06-15 18:09] ljharb commented on #26
Not actually fixed; just allowed to fail.

The only solution is switching from jest to tape, since tape is the only remaining test runner that works on older nodes. (This should be reopened)

[2018-06-15 18:18] ljharb commented on #26
Happy to send a PR switching to tape if you’re willing to accept it!

[2018-06-15 21:10] nathanhleung commented on #26
That would be wonderful! I was looking at some other test runners (Mocha etc) but all of them have stopped supporting Node <4. Is Tape used at Airbnb?

[2018-06-15 21:44] ljharb commented on #26
We use it for some of our public packages, and will be likely migrating all of them (that support older nodes) to it.

[2018-06-16 16:56] nathanhleung opened #30 "Only apps should have lockfiles"
Need to gitignore yarn.lock too

[2018-06-18 01:59] #26 closed

[2018-06-18 03:37] nathanhleung commented on #30
Fixed in 1.8.0

[2018-06-18 03:37] #30 closed

[2018-06-23 02:23] nandub opened #31 "install-peerdeps should handle/pass version ranges with spaces to yarn"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

yarn add fails to install packages with version ranges.

[code]
[yarn-error.log](https://github.com/nathanhleung/install-peerdeps/files/2129552/yarn-error.log)

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**

`install-peerdeps`

[2018-06-23 06:50] nathanhleung commented on #31
Thanks for this issue. I'll look into it ASAP.

[2018-07-23 19:45] MFry opened #33 "Installing peer dependencies on windows"
When running `install-peerdeps` the install will fail if the packages end in `-0`.

### Version

**OS:** Windows 7

[code]

### Reproduce
[code]
The issue occurs when the  `install-peerdeps` evaluates
e.x.
`npm install enzyme-adapter-react-16@1.1.1 enzyme@^3.0.0 react@^16.0.0-0 react-dom@^16.0.0-0 --no-save`
which will fail, but if you place the `react` and `react-dom` in quotation marks like:
`np

[2018-08-02 02:07] nathanhleung commented on #33
Thanks for the specific repro information - the quotation marks, however, don't seem to be working for me (I'm on NPM v5.6.0). Removing the '-0' seems to work, though.

I'm going to do a new release soon, but if you need the fix now you can pull from the latest `master`.

[2018-08-02 02:16] nathanhleung commented on #33
Edit: tests are taking a long time on Travis, but will merge when those are done

[2018-08-02 02:51] nathanhleung opened #35 "fix tests"
the fix for #33 (`-0`) broke some tests but `master` still works on most modern nodes. need to fix this.

[2018-08-02 17:53] MFry commented on #33
@nathanhleung the `-0` is valid semver range and accordingly enzyme devs mentioned
"The -0 is necessary to allow for prerelease versions...".

Not sure if there are additional issues with npm 5.6.0 , but it works as intended on 6.2

[2018-08-02 19:24] nathanhleung commented on #33
@MFry Interesting - didn't realize that. I'll run tests on different NPMs and see what happens. Thanks for letting me know.

[2018-08-29 19:32] hirokiosame opened #36 "feature req: installing peer deps of current project"
Would like to do `npx install-peerdeps` in my current project (working directory that has `package.json`) and have it install the packages in the peerDeps hash.

[2018-08-29 20:48] nathanhleung commented on #36
Thanks for this feature request! Haven't had much time to work on this project recently but will work on it when I get the chance. If you would like to submit a pull, that would be much appreciated!

[2018-09-22 14:38] gwicksted opened #37 "Global support (npm)"
Would be great to have global install support.  Alternatively (less preferable), install-peerdeps should not proceed when passed a global flag (since it won't do what you expect).

`install-peerdeps tslint -g`

results in an:

`npm install tslint@5.11.0 typescript@>=2.9.0-dev --save`

when it should perform:

`npm install tslint@5.11.0 typescript@>=2.9.0-dev -g`

otherwise the following behavior o

[2018-09-22 14:46] gwicksted commented on #31
Same issue with NPM:

`install-peerdeps tslint-language-service`

Results in:

[code]

It should instead run with quoted version range arguments:

[code]

NOTE: spaces are optional between operators (">=") and versions ("2.3.1") but NOT between versions ("2.3.1") and operators ("<") which are used when specifying both a lower and upper-bound.

Easiest fix I can see would be testing for whitespace

[2018-10-02 18:55] gwicksted commented on #37
Submitted PR #38 to add support for this feature

[2018-10-02 18:58] gwicksted commented on #35
@nathanhleung it is possible PR #38 fixed this

[2018-10-02 19:07] gwicksted commented on #37
Tests in PR #38 appear to be failing in certain older versions of node.  I did notice this in the tape repo regarding the particular error logged by travis: https://github.com/substack/tape/issues/160 where it is summed up as "tl;dr: all test cases must be synchronously declared." yet `async function getCliInstallCommand(extraArgs) ` is not synchronous.  Could probably switch to `spawnSync` to rem

[2018-10-03 16:59] nathanhleung commented on #37
Thanks for the pull request and sorry for not getting back to you earlier - will take a look at the pull!

[2018-10-03 17:15] nathanhleung commented on #37
Merged

[2018-10-03 17:15] #37 closed

[2018-10-03 17:18] nathanhleung commented on #3
@Zamiell Thanks for your patience - the newest released version has a `--proxy` flag which you can pass an explicit proxy to.

[2018-10-03 17:18] #3 closed

[2018-10-03 17:29] Zamiell commented on #3
Thank you @nathanhleung !

[2018-10-10 07:35] yingtho opened #39 "Proxy disable strict-ssl"
I run:
`install-peerdeps --dev eslint-config-airbnb -p http://proxy:8080`
But because our certificate on our proxy is old i get error:
ERR Error: unable to get local issuer certificate
I would like to disbale the check on ssl like you can do in npm with:
`npm config set strict-ssl false`

[2018-10-11 06:22] ChangerHe opened #40 "yarn add error when install install-peerdeps-1.9.0.tgz"
[code]

We found it impossible to download install-peerdeps-1.9.0.tgz when runing yarn

and this file(install-peerdeps-1.9.0.tgz) can't be decompression

[2018-10-16 12:40] nandub commented on #31
I just noticed this pull https://github.com/nathanhleung/install-peerdeps/pull/4 should this pull has fixed this issue?

[2018-10-18 16:41] cdierkens opened #41 "Addition of single package check invalidates extraArgs"
The addition of the following code means that we never get down to the extraArgs option initialization.

This code exits
https://github.com/nathanhleung/install-peerdeps/commit/4784eed3658a706816b4ce4b101ccbaab6d6085a#diff-d9d9214113dea1c364abd4ba3c70be11

before this code
https://github.com/nathanhleung/install-peerdeps/blob/master/src/cli.js#L162

[2018-10-22 00:44] #40 closed, assigned to nobody

[2018-10-25 09:28] hirokiosame commented on #36
Since this package seemed to do a lot more than what I needed, I just implemented an extremely light-weight library to install the peer deps of your current directory: [`npx i-peers`](https://www.npmjs.com/package/i-peers)

[2018-10-25 09:28] #36 closed

[2018-11-07 12:27] AquiGorka opened #42 "npx install-peerdeps npm-linked-package fails"
Hello there, I ran into a problem when trying to install `peerDependencies` for a package that is not yet published to the `npm` registry and that I `npm link`ed locally.

Got the following error: `ERR That package doesn't exist. Did you mean to specify a custom registry?`

Is there a flag I could use?

Thanks!

[2018-11-07 16:43] nathanhleung commented on #42
The current behavior of this tool is that it reads peer dependencies of the specified package from the online NPM registry (or the registry specified by `--registry`) when downloading.

Unfortunately there's no flag to do what you want yet - you could try hosting your packages on a local private registry for now (see https://github.com/verdaccio/verdaccio) or just manually install your peer depend

[2018-11-07 16:44] nathanhleung commented on #41
Thanks for this issue - will look into it.

[2018-11-07 16:47] AquiGorka commented on #42
Thank you. Yeah, I manually installed the deps but it would be far easier if this could be automated - and obviously, if you are installing deps that means you don't have them locally, which means you can't look at their `package.json`s right away... so, thanks again for giving this an opportunity even if only by leaving the issue open.

[2018-12-16 07:05] ashleydavis opened #43 "install-peerdeps overwrites existing module with an older version"
Hi thanks for this package, it's really useful.

I've noticed a (probably obscure) problem with it and just wondering if you have any advice on how to work around it.

First, some background. I'm working on a product called [Data-Forge Notebook](http://www.data-forge-notebook.com/) and it automatically installs npm modules that it finds used in scripts. I found it annoying that npm didn't automati

[2018-12-16 16:38] nathanhleung commented on #43
Thanks for the issue - this seems like a valid use case and I've started looking into it.

[2018-12-16 21:08] ashleydavis commented on #43
Thanks so much for your help. Let me know if there's anyway I can assist.

[2019-01-03 01:35] ashleydavis commented on #43
Any progress on this issue? Is there anyway I can help?

I'd like to update the peer dependencies for my library data-forge-indicators, although then you'll lose my test case. Will that be a problem or do you want me to hold out from updating it a bit longer?

[2019-01-04 19:39] nathanhleung commented on #43
Hi, thanks for reaching out again. I haven't been able to work on it recently - if you could submit a pull I'll gladly accept it.

One potential solution could be reading the `package.json` in `__dirname` (i.e. location where `install-peerdeps` is being run) and comparing the `package.json` version to the peerdep requirement using [`semver`](https://www.npmjs.com/package/semver).

[2019-01-05 03:53] tomprats opened #44 "install-peerdeps fails when installing package from github, local directory, or linked package"
When installing a package, npm lets install in [these ways](https://docs.npmjs.com/cli/install):

[code]

Would this package be interested in supporting similar syntax? Or even adding new flags?

[2019-01-05 15:49] nathanhleung commented on #44
As of this moment, the package pulls peer dependency information from the official registry based on the `package.json` file. Supporting this syntax would require a rework of the internals (i.e. install the target package first, then read `package.json`, rather than doing it all in one step).

While this is definitely a good feature to support, there are other bugs and issues that are higher prior

[2019-01-06 00:10] tomprats commented on #44
Thanks for taking a look and getting back to me so quickly @nathanhleung. I appreciate your hard work and your package already has helped a ton!

[2019-01-06 23:11] nathanhleung commented on #42
Hi, I'm going to close this issue in favor of #42 but will add the linking use case to the issue title in description. Thanks again for your report!

[2019-01-06 23:11] #42 closed

[2019-01-06 23:14] nathanhleung commented on #44
@tomprats @AquiGorka (#42) I've realized your issues deal with similar underlying problems so I've merged them here. I'll keep this issue open for further discussion of this feature and to keep it on the roadmap; if others are also facing this problem I will prioritize it.

[2019-01-07 01:40] nathanhleung commented on #20
Closing in favor of #43 (install-peerdeps overwrites existing module)

[2019-01-07 01:40] #20 closed

[2019-01-07 01:56] nathanhleung commented on #31
This should be fixed in the latest release, v1.10.1. The current behavior of the tool is to read the range and install the later version if it is an inclusive comparator (e.g. <=), else install the earlier version.

[2019-01-07 01:56] #31 closed

[2019-01-10 08:53] JoshWhite opened #45 "npx installs "undefined" npm package"
Running install-peerdeps (at least via npx on Windows) causes https://www.npmjs.com/package/undefined to be installed as a dependency.

## Repro steps

`npm init`
`npx install-peerdeps --dev eslint-config-airbnb`

Output:

[code]
## Environment
Windows 10
npm v6.4.1
node v10.13.0

## Further info
It doesn't do this, when you add the --extraArgs flag.

[2019-01-10 22:41] nathanhleung commented on #45
Thanks for catching this! Will fix ASAP

[2019-01-10 22:42] nathanhleung commented on #45
Also, I think you're right on with *why* this is happening.

[2019-01-11 00:55] #45 closed

[2019-01-14 07:46] ashleydavis commented on #43
I've started having a look into this problem. I've written a test (added to cli.test.js) that replicates the problem, and @nathanhleung I'd like your thoughts on it:

[code]

Some problems:

1.  There is currently some manual setup required to run the test. Before running the test I change directory into the new fixture directory _has-newer-peer-dep_, then I delete the node_modules directory and d

[2019-01-15 05:11] nathanhleung commented on #43
Hi @ashleydavis and thanks for the test!

1. The `fixtures` directly is there for the purposes of testing, so no worries about mocking the file system. One thing you can do, however, to automate the manual set-up, is use Node's native [`spawn` imported from `child_process`](https://nodejs.org/api/child_process.html) and pass the `cwd` (like you did above) with the command `rm -rf node_modules`. Yo

[2019-01-15 10:45] ashleydavis commented on #43
@nathanhleung I've committed the new test and code to make it pass.

https://github.com/ashleydavis/install-peerdeps/commit/95dd3d1a982f1d4f36c34c6703754c934a389069

Unfortunately I've broken several other tests and I'm having a hard time figuring out why! Do you mind having a look and maybe pointing me in the right direction?

Thanks!

[2019-01-20 19:53] nathanhleung commented on #43
Thank you for your contributions so far, and apologies for the late reply!

I've created a pull request with your latest changes so they could run on Travis. It looks the tests that add the `global` and `save` flags are the ones that are failing. I'm not exactly sure why either, but I've added some comments to the pull request (#46) which might help.

Also, I'm not sure if you can add commits to #

[2019-01-21 08:08] ashleydavis commented on #43
Hey, I think I'm going to park this for now. It's turned out to be a bigger job than I expected. I realised today that it's actually much simpler for me replicate the small portion of install-peerdeps into my project than it is to try and get my contribution working properly.

Thanks again for this library, so I don't have more time to contribute to it right at the moment. Maybe I'll come back to

[2019-01-22 11:24] vjpr opened #47 "Support pnpm"
https://pnpm.js.org/

[2019-08-15 07:31] yifanchen opened #48 "Custom registry not working?"
Hi there,

I tried to install a package from a custom registry, it failed and said package can't be found on npmjs.org, which is not the registry where I commanded it to be.

Any idea what's going on?

![image](https://user-images.githubusercontent.com/2340896/63080073-b972db80-bf72-11e9-890a-1cc3b4218132.png)

[2019-08-15 07:41] yifanchen commented on #48
Additionally, what's the correct command format when I want to install a specific package from a custom registry? I tried a few times, didn't work out right.

![image](https://user-images.githubusercontent.com/2340896/63080232-2c7c5200-bf73-11e9-9696-33f7c9738154.png)

[2019-09-10 06:01] AndreGeng commented on #48
Actually the registry option is not used when run "npm install" command, I have created a pr for this. [#48](https://github.com/nathanhleung/install-peerdeps/issues/48)

[2019-12-05 20:49] nathanhleung commented on #48
Fixed by #49

[2019-12-05 20:49] #48 closed

[2019-12-05 22:57] nathanhleung commented on #44
Thank you for your patience -- resolved by #51

[2019-12-05 22:57] #44 closed

[2019-12-06 00:19] nathanhleung commented on #47
Thanks for your patience; fixed in 1.11.0.

[2019-12-06 00:19] #47 closed

[2019-12-10 13:44] jmjpro opened #57 "yarn pass through arguments"
I saw https://github.com/nathanhleung/install-peerdeps/issues/24 but I think the functionality in yarn has changed: when I try to run `install-peerdeps eslint-config-airbnb -d -Y -W` I get ```Running this command will add the dependency to the workspace root rather than the workspace itself, which might not be what you want - if you really meant it, make it explicit by running this command again w

[2019-12-10 15:16] ljharb commented on #57
If you want to pass additional flags to a sub command, usually you’d do something like `-- -W` - does that work?

[2019-12-10 15:33] jmjpro commented on #57
nope.

On Tue, Dec 10, 2019 at 5:16 PM Jordan Harband <notifications@github.com>
wrote:

[2019-12-13 19:12] nathanhleung commented on #57
Can you try:

`install-peerdeps eslint-config-airbnb -d -Y --extra-args "-W"`

See more info about the `--extra-args` flag under https://github.com/nathanhleung/install-peerdeps#usage

[2019-12-19 14:52] sarpik opened #62 "[FR] Install peerdeps from local package"
Don't know if this isn't already possible, but I'd like to be able to install peerdeps globally from a local package.

I have a local package ([eslint-config-sarpik](https://github.com/sarpik/eslint-config-sarpik)) which I have installed globally (not via linking (should I just use linking?)).

Sometimes I add some peerDependencies & I'd like to be able to install them myself globally prior to pub

[2019-12-19 15:41] ljharb commented on #62
No eslint things should be installed globally; eslint v6 forces local installs more aggressively anyways.

[2019-12-19 15:41] ljharb commented on #62
Global things aren’t requireable, so they*cant* satisfy peer dep requirements anyways.

[2019-12-19 15:48] sarpik commented on #62
Yeah I've tried to get everything working with eslint `6.x` but wasted wayyy too much time and it didn't. Went back to `5.x` and it's awesome now.

Don't understand this, could you elaborate?

[2019-12-19 16:02] ljharb commented on #62
Yes. You can’t `require()` global packages, only run them on the command line. Peer deps are for things your package requires, in its code. Global packages this only make sense when they have no peer deps, which aces out any eslint things.

[2019-12-19 17:09] sarpik commented on #62
I mean installing the peerDeps before publishing lets me test eslint out from the command line to make sure it's working fine, so the globally installed peerDeps do make a difference (I suppose?).

[2019-12-19 17:16] ljharb commented on #62
I’m not sure what you mean. If you want to test a shared config before publishing, you’d npm link it, and each of its peer deps, into another project (or, install it from git in the other project).

[2019-12-19 17:22] sarpik commented on #62
I'm trying to test a shared config, and I install the dependencies globally.

Doesn't matter though - I figured I'll just use `yarn link`.
Thank you for your time & help:)

[2019-12-19 17:22] #62 closed

[2019-12-21 00:40] ljharb commented on #11
oof, stalebots are so user hostile :-/

[2019-12-21 00:41] ljharb commented on #33
bump

[2019-12-22 20:13] nathanhleung commented on #11
fair point, I figured it'd encourage people who really wanted a feature to keep pushing for it, but given the low number of issues on second thought it's really not that necessary

[2019-12-27 22:31] corysimmons opened #63 "Doesn't work with create-react-app"
`$ npx install-peerdeps ookook`

I created a create-react-app project and tried to use install-peerdeps to install another package, and its peers, to the CRA app.

[code]

[I have peerdeps](https://github.com/corysimmons/ookook/blob/294ade30abde80066feec98d89a9abb189c721d5/package.json#L23-L29) in that file.

What am I doing wrong? :\

Also, I've had problems with understanding how this project wo

[2019-12-27 22:35] corysimmons commented on #63
Huh. Works as expected without CRA...

Guess I should rename this issue.

[2019-12-27 22:40] corysimmons commented on #63
Seems to be related to `It seems as if you are using Yarn. Would you like to use Yarn for the installation? (y/n) y`

If I enter anything there, it just exits out silently/immediately. But `npx install-peerdeps ookook -Y` works as expected.

[2019-12-30 15:42] zdm opened #64 "Quote packages name, when calling npm"
Hi, you need to quote packages names, when you calling package manager.
For example, if peer deps is specified like ```"package": ">=1.2.3"```
then you will call npm to install deps like:
```npm i package@>=1.2.3```,  that produces stdout redirect to the file ```=1.2.3```

[2019-12-30 15:45] zdm opened #65 "Add yarn v2 support"
Could you, please,  add yarn v2 support.
Command line is the same, except ```--registry``` option is not supported.

[2019-12-31 00:36] AllanFerencz commented on #63
I'm currently having the same issue with a different package.

npx install-peerdeps --dev eslint-config-wesbos

With a Next.js project.
I'm going to try passing the Y flag.

[2020-01-06 02:50] nathanhleung commented on #63
Thanks for the report.

The project pulls the desired package's package.json from the registry, and then installs the desired package + all the peer dependencies in one command.

I'll add a note to the README to use the `-Y` flag with `create-react-app`.

[2020-01-25 11:54] vhakulinen commented on #63
I had the same problem and this worked.

[2020-01-25 22:31] corysimmons commented on #63
I think the solution is to fix this inside the install-peerdeps lib rather than just adding a note to README.

[2020-02-18 11:48] HakurouKen opened #70 "Yarn promptions quit without any outputs."
[code]

Error happened due to the next lines:

https://github.com/nathanhleung/install-peerdeps/blob/0db94a11a19f68a514ca148eead1e2a9a9cfeede/src/cli.js#L180-L194

`promptly.confirm` won't accept a callback as the second params in ^3.0.3 any more.
See their docs in https://github.com/moxystudio/node-promptly#confirmmessage-options

[2020-02-27 00:10] erhhung opened #71 "Incorrect selection of package version"
I have an `eslint-config-myconfig` package in a private registry having the following peer dependencies:

[code]

When I run `install-peerdeps`, I'm getting a "no matching version" error:

[code]

It appears that install-peerdeps is not using the exact same semver expression when issuing the "npm install" command. So, instead of **`npm install typescript@">=3.8 <4"`**, it's just reading the first

[2020-02-27 00:36] erhhung opened #72 "Automatic proxy detection ignores NO_PROXY"
While automatic detection of HTTP/S proxy server from standard environment variables is nice, the current implementation is ignoring hosts listed in the NO_PROXY environment variable. This issue manifests when using a private registry specified using the `--registry` option.

Once I removed my standard set of proxy environment variables, `install-peerdeps` runs fine.

I would consider using the [p

[2020-02-27 00:44] ljharb commented on #71
You could use `^3.8` for that tho, any reason you’re not?

[2020-02-27 01:05] erhhung opened #73 "Why not auto-detect NPM registry from .npmrc?"
I see in discussion from #16 that the OP wanted to install dependencies in a package from a private registry, and the subsequent support for that through the `--registry` option.

My question is, why does `install-peerdeps` not work alongside `npm` (or `yarn`) by using settings that are already set in `~/.npmrc` (or `~/.yarnrc`), especially with respect to use of a private NPM registry.

For examp

[2020-02-27 01:11] erhhung commented on #71
@ljharb I think `^3.8` would still get parsed into `@3.8.0`, which is a non-existent version. Regardless of the semver syntax, my point is that this tool should handle whatever that is considered valid in a `package.json` file.

[2020-02-27 01:35] erhhung commented on #71
BTW, my workaround to this issue seems to completely obviate the need for `install-peerdeps`:

[code]

[2020-02-27 01:42] ljharb commented on #71
No, it wouldn’t - the caret is an identical (and simpler and more widely understood) range than the one you have.

[2020-02-27 04:03] ljharb commented on #73
It could certainly shell out to npm config get registry.

[2020-04-10 15:52] nathanhleung commented on #70
Should be closed by #66, thanks for waiting!

[2020-04-10 15:52] #70 closed

[2020-04-10 15:57] nathanhleung commented on #70
Also, released in 2.0.2

[2020-04-21 06:40] ljharb opened #80 "v1.10.0 had a breaking change"
By adding `https-proxy-agent` as a dep in https://github.com/nathanhleung/install-peerdeps/commit/ddf708b59891d3dd77023284d8fe6447e2b4efc3 - which requires node 4 - v1 of install-peerdeps (which `enzyme-adapter-react-helper` uses) stopped working in node < 4 (i use it in node 0.10 and 0.12.

It would be great if a backport of v1 could be landed that fixes this, so I don't have to pin enzyme to v1.

[2020-04-30 20:13] amclin commented on #73
This would be a huge improvement. As far as I can tell, this project right now is unusable because our corporate requirements result in needing to use multiple regestries, which are separated by package namespaces:

Example
* `@my-corp/my-package` loads from private registry "A"
* `@my-other-corp-group/my-package` loads from private registry "B"
* `eslint` loads from a mirror of the public NPMJS.o

[2020-04-30 20:17] ljharb commented on #73
Hmm, I'm not sure how that would work with `npm config get registry`, which pulls a single value; if you're using scoped registries, `npm install` figures that out by itself.

[2020-04-30 22:16] amclin commented on #73
The point of this script is to install peer dependencies for a specified package, right? `npm isntall`  doesn't do that. So if a package has namespaced dependencies, it should be able to resolve those.

Seems this package could do that by just passing each found package to `node install` via `child_process.spawn()`. That's effectively what I'm having to build as a custom script instead of using th

[2020-04-30 22:26] ljharb commented on #73
That's basically what it's already doing: https://github.com/nathanhleung/install-peerdeps/blob/master/src/install-peerdeps.js#L84-L103

Since it's using `npm install` by default, in the proper directory, I'm not sure why it's not already working.

I think the issue is that [getPackageData](https://github.com/nathanhleung/install-peerdeps/blob/master/src/install-peerdeps.js#L128) is making a direc

[2020-04-30 22:41] amclin commented on #73
Yeah, since `getPackageJson` calls `getPackageData`, and passes the provided registry from the CLI option, it can only track across one registry. There's nothing in the NPM standard mandating dependencies are available in the same registry as the package referencing them.

[2020-04-30 23:05] ljharb commented on #73
A PR would be appreciated.

[2020-05-01 16:56] amclin commented on #73
I'm not sure how to address it in this project without significant restructuring of the interfaces being exposed. In the script I've built privately, I've avoided all the registry and proxy passing entirely (that adds a huge amount of complexity with the corporate proxies I have to deal with). Instead of using the remote registry to get package data or `npm show`, I'm just drilling into `node_modu

[2020-05-01 17:11] ljharb commented on #73
It seems like just a refactor in `getPackageJson`, you can leave `getPackageData` intact and unused?

[2020-05-01 17:42] amclin commented on #73
I'll take a look at branching this and see what I come up.

[2020-05-02 08:42] amclin commented on #72
There's no way this can be done consistently for all proxy configurations. My corporate environemnt has a configuration where the environment variable settings work for `curl` but fail for `npm` but work for some NPM packages that use HTTP libraries, but not others. It's a total crapshoot and every proxy setup is different.

Better to remove this custom API-handling entirely and use the native com

[2020-05-11 04:17] nathanhleung commented on #80
Sorry about this, I didn't realize. Is there any solution other than to use a lower version of `https-proxy-agent` that supports Node 0.12?

[2020-05-11 05:09] ljharb commented on #80
I'm not really sure. Based on some of the newer PRs, shelling out to npm is a better solution than using a proxy option anyways - if #85 lands, that might restore old node support by removing `http-proxy-agent` entirely, but that'd also be a breaking change, so i'm not sure what the best solution is here.

[2020-05-29 19:07] cdierkens opened #87 "`npm install`uses non-standard `https://registry.npmjs.com` invalidating CLI `npm login`"
# Details

Passing in the flag --auth will forward to an `Authorization` header which works for retrieving the package details.

However, if you are relying on an `npm login` session for the final `spawnInstall`, the authentication is only recognized for the default `https://registry.npmjs.org` registry

The following change overrode the system default with an explicit default.
https://github.com/

[2020-05-31 18:10] #87 closed

[2020-06-16 23:42] krobing commented on #36
thanks you so much @privatenumber your package has help me with I needed, installing the current project peer dependencies over itself.

[2020-06-16 23:45] krobing commented on #36
thanks you so much @privatenumber your package has help me with I needed, installing the current project peer dependencies within itself.

[2020-06-16 23:53] krobing commented on #36
thanks you so much @privatenumber your package has helped me with what I needed by installing the current project peer dependencies within itself.

[2020-06-17 02:20] ljharb commented on #36
I’m kind of confused by this use case; all peer deps should be also deps, or also dev deps, and as such should always be available when developing the project.

[2020-06-17 02:57] privatenumber commented on #36
Can't tell if you're confused by this use-case or with the npm `peerDependencies` feature.

Are you arguing that people should be using `dependencies`/`devDependencies` over `peerDependencies`?

[2020-06-17 04:34] ljharb commented on #36
No, i’m saying that when a project has “x” in peer deps, it should also have “x” in either deps or in dev deps. Nothing should ever *just* be in peer deps.

[2020-06-17 05:34] privatenumber commented on #36
Here's a simplified version of my use-case:

### Context
Let's say I'm developing a Vue plugin and I bundle it using Webpack. The plugin imports `vue` and adds features to it.

Since it's a plugin, I don't want `vue` to be bundled-in so I [externalize](https://webpack.js.org/configuration/externals/) it from my distribution file.

Since it's a Vue plugin, it would be installed by a project that al

[2020-06-17 05:47] ljharb commented on #36
I don't think it does defeat the point - whatever range is in peers would also be duplicated in dev, eg if `"vue": "^1 || ^2"` is in peerDeps, you'd put the identical thing in devDeps too.

[2020-06-17 06:12] privatenumber commented on #36
The situation is typically more nuanced and you wouldn't want such a large semver range. Especially with something like a plugin that might be tapping into internal API.

For example, there were internal changes introduced in Vue 2.6.0 that made me want to limit the support to Vue `v2.6.0` and above, and with `peerDependencies`, I can strongly suggest that our users provide Vue `^v2.6.0`.

Because

[2020-06-17 06:13] ljharb commented on #36
Note that npm 7 will strictly enforce peer deps - it will fail the install if peer deps aren't satisfied, as `npm ls` has failed for a decade already :-)

[2020-06-17 06:48] privatenumber commented on #36
That's great. In most cases, I wouldn't want my users to use a version of vue I'm not supporting as it's typically inadvertent.

The teams and envs I work with are still on npm v6 (and plenty of people still use v6), but once v7 is prevalent, I might be able to put it in `devDependencies` as well.

If I still want to offer the flexibility of using any version, I can mark peer dependencies as optio

[2020-06-17 07:17] ljharb commented on #36
Peer deps have always been required, prior to peerDependenciesMeta, so in that case they should have been dev deps, not peer deps.

[2020-06-17 15:59] privatenumber commented on #36
If you're talking about the one-line warning you get on unsatisfied peer-dependencies, I'm not sure if I'd call that "required".

Declaring it in dev-deps would install packages I don't actually need in dev, as they're resolved by UNPKG. And would also pollute the node_modules of projects that install my package in dev-mode.

Anyway, to go back to your main point:

There's plenty of nuanced cases

[2020-06-17 16:03] krobing commented on #36
hi there, I'll expose my situation about this issue, explaining about my use case below:

I'm developing ui component library based on react, so I have an isolated project that is built, and in the same way I'm having a stage which makes this project get up to preview its behavior, thus i need install its `peerDependencies` within itself. I tried run `install-peerdeps --only-peers -S` or `install-

[2020-06-17 16:32] ljharb commented on #36
@krobing what i'm saying is, you should duplicate all your peers in devDeps, and then they're already installed for local development.

@privatenumber nobody installs your package "in dev mode", dev deps are *only* for local development of your package; i'm saying use the local peer deps instead of unpkg.

[2020-06-17 17:19] krobing commented on #36
Yeah @ljharb that is a way to do it, I just want to keep the devDeps section clean to solve a trouble when I use `npm link` to symlinks from main project to ui lib project which cause an error when finding duplicate modules, specifically with `styled-components` an `react hooks`.

[2020-06-17 17:38] ljharb commented on #36
When linking, all peer deps must also be linked, regardless of the approach you take.

[2020-07-06 13:30] ocean90 commented on #71
I think I have a similar case where `^7` is transformed to `7.0.0` instead of the latest in the 7.x branch.

Example:
[code]

Source: https://github.com/WordPress/gutenberg/blob/acc6dbea78ab3b8dd5436a57bc0c2d4808ec6756/packages/eslint-plugin/package.json#L44

I'm expecting to get eslint@7.4.0 here. Is that expectation incorrect?

[2020-07-06 18:43] ljharb commented on #71
I would expect the npm install command to be `@^7` and not `@7.0.0` or `@7.4.0` - that seems like a bug.

[2020-07-20 19:05] toddpi314 opened #95 "Support --ignore-scripts flag"
This could easily be put in `postinstall` if support was added for the `yarn/npm install --ignore-scripts` flag.
Otherwise, `postinstall` would trigger `preinstall/install` and cycle.

[2020-12-11 16:12] anushreemjoshi opened #115 "'request' package needs to be replaced"
Kindly replace the request package  as it is deprecated and warning message is shown while installing this package that it is deprecated.

[2021-01-20 15:29] #73 closed

[2021-01-20 15:29] #72 closed

[2021-01-21 18:45] q00u opened #123 "ERR spawn npm ENOENT"
[code]

Always `ERR spawn npm ENOENT` for every package I try.

[2021-01-22 00:18] nobremarcos95 commented on #123
I faced the same issue on windows 10

[2021-01-22 00:19] q00u commented on #123
Windows 10 for me too

[2021-01-22 12:05] dimitricizov commented on #123
same problem here on windows 10

[2021-01-23 16:03] marcelreppi commented on #123
+1

[2021-01-23 19:17] RangerCoder99 commented on #123
Same here!

[2021-01-23 23:20] williandf commented on #123
Same here!

[2021-01-24 06:44] nathanhleung commented on #123
Are you facing this issue with v2.0.2?

[2021-01-24 06:50] RangerCoder99 commented on #123
Nop v2.02 working fine, seems to only happen with the new version here on windows 10

[2021-01-25 18:29] karlhorky commented on #123
Some of our students at @upleveled have a similar issue on Windows 10 (but not everyone on Windows 10 has this issue!):

[code]

Will try with version `2.0.2`

[2021-01-26 08:55] karlhorky commented on #123
@nathanhleung if there is any debugging that we can do on these machines / setups, let us know.

I used `NODE_DEBUG=child_process` to try to see if it was a borked `PATH`, but `PATH` contains the path to the `yarn` binary.

[2021-01-27 03:26] nathanhleung commented on #123
Thanks, I'm on macOS so I can't test directly. Could you try `git bisect`ing and running `install-peerdeps` (or just the tests) between commit 5a9cc30c5035c3ccab87ccb53a228cd3a8d26540 and c695ca73c46073c2eaaeb2986cbf0741175161e6 and let me know if you can figure out the bad commit?

[2021-01-27 15:25] karlhorky commented on #123
Ok, so @thomalexg and I found two different bugs during bisecting:

## Bug 1: `ERR spawn yarn ENOENT`

[code]

First bad commit is 1b386d5015e17309162e8e6bb419bf73b2f27ac9:

[code]

## Bug 2: `registry.substr` is not a function

[code]

First bad commit is e88f3f1a6a12124d0b64338f3c58b5648cb198d7:

[code]

[2021-01-27 15:33] ljharb commented on #123
Sounds like one of those changes failed to account for `registry` being undefined (which means it should fall back to a hardcoded value of the public npm registry, or yarn’s alias).

[2021-01-27 18:59] nathanhleung commented on #123
Thanks for the detailed logs @karlhorky — it looks like bug 2 shouldn't be a problem anymore since we removed the registry option. I'm going to look into bug 1 and commit 1b386d5015e17309162e8e6bb419bf73b2f27ac9 and get back to you.

[2021-01-27 19:27] nathanhleung commented on #123
Hi @karlhorky, opened #124 which I think should fix but can't test on macOS. Could you `git fetch` and then `git checkout nathanhleung-fix` and let me know whether it works?

[2021-01-27 19:29] nathanhleung opened #125 "Fix issue with `child_process.spawn` on Windows"
I don't think the `.cmd` hack is necessary anymore.

Upstream issue: https://github.com/nodejs/node/issues/3675
Relevant issues/PRs in this repo: #123, #124

[2021-01-27 21:32] karlhorky commented on #123
Cool, thanks! Sure, @thomalexg and I will take a look on his Windows machine tomorrow.

[2021-01-28 09:27] karlhorky commented on #123
Confirmed, [the fix works](https://github.com/nathanhleung/install-peerdeps/pull/124#issuecomment-768895250)!

[2021-01-28 20:30] karlhorky commented on #71
Just tested with @uebriges, and it seems this is indeed a problem.

We tested on a Windows 10 machine - not sure if this is a relevant detail.

## Failing Repro

Reproduction 1 uses `install-peerdeps` to install the peer dependencies of `eslint-config-react-app`. When `react-scripts start` is run using `yarn start`, `create-react-app` crashes, saying that the versions of `babel-eslint` and `eslint

[2021-01-29 03:07] #123 closed

[2021-01-29 03:07] #115 closed

[2021-01-29 03:12] nathanhleung commented on #65
This should have been resolved by #85 in v3.0.0 since we stopped using the `--registry` option. Let me know if this is not the case.

[2021-01-29 03:12] #65 closed

[2021-01-29 03:44] nathanhleung commented on #71
@karlhorky really appreciate your testing here, glad we're squashing all these bugs! Opened #126 which should hopefully fix -- can you let me know if that works for you?

[2021-01-29 08:16] karlhorky commented on #71
Sure! @uebriges and I will test: https://github.com/nathanhleung/install-peerdeps/pull/126#issuecomment-769647575

[2021-01-29 08:40] karlhorky commented on #123
Nice, this is available now in `3.0.1`. Thanks @nathanhleung !!

[2021-01-29 08:42] karlhorky opened #127 "Move tests to GitHub Actions, add Windows Tests"
From #124:

cc @ljharb @nathanhleung

[2021-01-29 14:20] kirlat commented on #123
Thanks @nathanhleung for providing a fix! v3.0.1, still does not work for me, but the output is different this time.

I'm using `install-peerdeps` with `npx` on Win10, and here is how I'm running it:
`npx install-peerdeps alpheios-node-build --dev --only-peers`
and the output in my case is
`ERR undefined`.

That's different from v3.0.0 where the output is `ERR spawn npm ENOENT` so things have chan

[2021-01-29 14:41] karlhorky commented on #123
@kirlat what does it show you if you run this one?

[code]

[2021-01-29 15:54] #71 closed

[2021-01-29 15:57] nathanhleung commented on #63
I think this should be fixed by #126. Please reopen with the command you ran and logs (if any) if this  issue persists.

[2021-01-29 15:57] #63 closed

[2021-01-29 16:27] nathanhleung opened #128 "`ERR undefined` with v3.0.1 when running on Windows 10"
From @kirlat:

[2021-01-29 16:28] nathanhleung commented on #123
Thanks @kirlat for the issue and @karlhorky for the comment — this looks like something different than what was described in #123, so I created #128 to continue discussion

[2021-01-29 16:29] nathanhleung commented on #128
From @karlhorky:

In addition, were there any NPM error log files created? Could you paste those logs here if so?

[2021-01-29 17:11] karlhorky commented on #128
Maybe it was caused by [`fa0b30e` (#126)](https://github.com/nathanhleung/install-peerdeps/pull/126/commits/fa0b30e5d5b5425290c0514c7f95602a7e96e054), as discussed here: https://github.com/nathanhleung/install-peerdeps/pull/126#issuecomment-769924227

[2021-01-29 17:33] nathanhleung commented on #64
#126 breaks the package, so I reverted it. Reopening this.

[2021-01-29 17:58] kirlat commented on #128
If I execute `npx install-peerdeps alpheios-node-build --dev --only-peers --dry-run` (it runs version 3.0.3) it outputs the following
[code]
the same output is produced for v3.0.2 except the different version in the output.

I can't find where logs for `npx` are, they are not in any obvious places, will try to it figure out.

[2021-01-29 18:35] kirlat commented on #128
I've checked the logs and the problem seems to be that the package whose dependencies to be installed, `alpheios-node-build`, is not in the npm registry. It is installed locally (i.e. exist in `./node_modules/alpheios-node_build`) and this seems to cause the issue:
[code]

This, however works with v2.0.2, `npx install-peerdeps@v2.0.2 alpheios-node-build --dev --only-peers` gets the dependencies in

[2021-01-29 22:13] ljharb commented on #127
I'll make a PR soon that converts the tests to GH.

[2021-01-30 16:18] nathanhleung commented on #127
Thank you!

[2021-02-04 18:04] karlhorky commented on #71
Ah seems like this solution in #126 doesn't work after all (installing the `eslint-config-react-app` peer deps in a new `create-react-app` project with `install-peerdeps@3.0.3` just failed on Windows).

[2021-03-31 11:09] karlhorky commented on #127
Hey @ljharb I guess no time to work on this one yet, right?

Would really like to have some failing tests so that we can iron out the Windows dependency problems here, which are not very visible to many users probably, but can cause big issues dependency versions (https://github.com/facebook/create-react-app/issues/10465#issuecomment-769344975).

Originally I thought that https://github.com/nathan

[2021-03-31 17:43] ljharb commented on #127
No, I haven't had time yet, unfortunately. However, I've recently made some updates to my shared actions that should make the job much easier :-) I'll plan to take a crack at it today.

[2021-04-02 16:27] ljharb commented on #127
Put up the PR: #139. Some help debugging the pnpm failures would be appreciated.

[2021-04-02 19:21] karlhorky commented on #127
Nice, thanks! I'll try to get some time to take a look soon! Maybe we can make a test case for [this `eslint-config-react-app` issue](https://github.com/facebook/create-react-app/issues/10465)

[2021-04-02 20:02] ljharb commented on #127
I'd like to get the tests migrated off travis first; after which extending them with more cases, or on more platforms, would be great.,

[2021-04-06 04:11] ctjlewis opened #140 "Install from package.json"
I can submit this PR within a few days - would be lovely to just install directly from a package.json, even checking for `${cwd}/package.json` by default if none specified (i.e. `yarn install-peerdeps`).

As I understand it, we can only install peerDeps of packages published in the NPM registry at the moment.

[2021-04-06 08:26] karlhorky commented on #127
Great, now that https://github.com/nathanhleung/install-peerdeps/pull/139 has been merged, we just have:

1. Add Windows tests
2. Add test for `eslint-config-react-app` to test situations like https://github.com/facebook/create-react-app/issues/10465

[2021-04-07 06:30] ctjlewis opened #141 "Do we have the actual source code for this tool?"
I'm sure this isn't news to anyone who maintains this, but I've never seen a repo with Babel output *as* the source:

[code]

Does... the original source exist anywhere? I was going to work on a PR for #140 but this is not very workable at all.

[2021-04-07 06:44] ljharb commented on #141
Every single package on npm that uses a transpiler has the input in git, and the output exists *nowhere* but in npm.

You clone the repo, run `npm install`, and run `npm run build` to build it - again, like virtually every single project that uses a transpiler.

What exactly is your question? This file exists here: https://github.com/nathanhleung/install-peerdeps/blob/master/src/cli.test.js

[2021-04-07 06:57] ctjlewis commented on #141
Yes - what was odd about this project is it is transpiling source and putting the output in `test/`, where I was expecting test source to be. I see now the pipeline is weirdly `src/ -> test/`, rather than `src/ -> dist/` or something clearer.

[2021-04-07 06:57] #141 closed

[2021-04-07 07:02] ljharb commented on #141
The output directory is never something to assume - it's always a convention, and you always have to check the config to see where things end up.

[2021-04-12 06:59] mojo2012 opened #142 "Cannot read property 'forEach' of undefined"
Running something like `install-peerdeps -d postcss@^8.1.0` just gives me this output:

[code]

[2021-04-12 18:50] nathanhleung commented on #142
Can you share your operating system and Node/NPM version (`node -v`, `npm -v`)?

[2021-04-13 06:53] mojo2012 commented on #142
macOS: 11.2.3 (20D91)
Node: v14.16.0
npm: 6.14.11

[2021-04-13 13:16] nathanhleung commented on #142
Sorry, forgot to put this in the original comment, but could you also send the output of `install-peerdeps --version`?

[2021-04-13 13:20] nathanhleung commented on #142
It appears that PostCSS `^8.1.0` doesn't have any peer dependencies: https://github.com/postcss/postcss/blob/8.1.14/package.json, so I think the error is being thrown because the peer dependency array is `undefined`.

The error message needs to be better, so will keep this open.

[2021-04-13 13:48] ljharb commented on #142
Does there need to be an error in that case? If there’s no peer deps, then this module can nearly install the package requested and it’s done.

[2021-04-13 14:11] nathanhleung commented on #142
That's a good point -- maybe just a warning/info message since I'm guessing users who use `install-peerdeps` are generally intending/expecting extra peer deps to be installed?

[2021-04-13 14:25] ljharb commented on #142
That seems reasonable.

[2021-04-14 06:06] mojo2012 commented on #142
install-peerdeps version: 3.0.3

[2021-04-17 23:11] jeffory-orrok opened #144 "should not error when there are no peer dependencies; just quietly install the package and move on"
This should not happen
[code]

[2021-04-17 23:18] ljharb commented on #144
Seems like a duplicate of #142.

[2021-04-17 23:23] jeffory-orrok commented on #144
@ljharb I suppose at the heart of it, it is.  But I don't usually read every open issue in depth before deciding whether to create a new issue.

[2021-06-05 22:45] AntoineChwat opened #150 "ERR: undefined when installing eslint-config-airbnb"
When running `npx install-peerdeps --dev eslint-config-airbnb` I get the following error:
[code]
Digging a bit more, I found the following log in my `~/.npm/_logs/` folder:
[code]

To me, it seems like install-peerdeps does not retrieve the correct version of `eslint-plugin-react-hooks` - instead of getting the latest 4.x version, it gets the 1.7.0 version, which indeed does not support eslint 7.x

[2021-06-05 22:47] ljharb commented on #150
In other words, it should be grabbing the semver-latest from "^4 || ^3 || ^2.3.0 || ^1.7.0", but instead it's grabbing the "last" item.

[2021-06-07 14:07] nathanhleung commented on #150
Thanks for this report! Right now the behavior is to grab the last item in the range:

[code]

(from https://github.com/nathanhleung/install-peerdeps/blob/master/src/install-peerdeps.js#L159)

It should be a few-line change to use [semver](https://www.npmjs.com/package/semver)'s `sort` function to sort the `rangeSplit` array and grab the latest version – code would look similar to below:

[code]

[2021-06-07 15:21] AntoineChwat commented on #150
Ah so that's where the issue is, all right well it doesn't look very complex, I'll try to give it a go this week then

[2021-06-07 19:47] AntoineChwat commented on #150
Okay so I looked more into it and there are several issues:
- First off it looks like this plugin does not support ranges written as for instance `>=5.0.0`. Is that normal, or did I get that wrong? And if it's not normal is that something we should handle?
- I can't use semverSort since we are not dealing with versions directly but with ranges, which incidentally means that for instance "^5.0.0" a

[2021-06-07 22:02] ljharb commented on #150
I think anything valid should be supported; the semver library works fine for that (stick to v6 for maximum back compat)

it has a Range object and a bunch of useful methods.

[2021-06-08 14:17] AntoineChwat commented on #150
All right so this is my attempt to fix the issue, if anything is unclear or whatever let me know
https://github.com/nathanhleung/install-peerdeps/pull/153

[2021-08-03 23:30] nathanhleung commented on #144
Closing as duplicate of #142

[2021-08-03 23:30] #144 closed

[2021-09-08 15:59] cyberbiont opened #163 "--no-registry flag does not work"
I need to install peer dependencies from a package, symlinked via npm link.
When I do
`install-peerdeps <packageName> -oSn --dry-run`
It shows me peer deps from npm-published version anyway

I tried this with both  npm 6 and 7

[2021-10-26 12:02] emahuni opened #171 "ERR Unexpected end of JSON input"
[code]

Then it goes on to throw that error. My hunch, I have not checked this, is that it's using the scope @ as a version token since it expects it. Even if I put the version at the end eg: `yarn install-peerdeps @em/app-extension-em-qui@v0.6.0`, it still throws the same error.

The package with the peerDependencies is fine, it installs well without any issues and cries for unmet peer deps as us

[2021-10-27 13:52] CWSites opened #172 "`@babel/polyfill` warning"
Just installed this package with yarn, got the following warnings.

[code]

[2021-10-27 13:59] #172 closed, assigned to nobody

[2021-10-28 10:45] sexta13 opened #173 "Install peer deps using absolute url"
Hi,

I'm trying to run the command:
`npx install-peerdeps -Y --dev https://github.com/XXXXXXXX` (XXXX is my project) and I can't make it work.
Is there any "hack" I must do?

thanks in advance.

[2021-11-03 06:33] zhiqingchen commented on #71
same problem on a Windows 11 machine

[2022-01-27 19:32] FDiskas commented on #163
The same is in my case. I have not released the package and just simply symlinked it in test project.
By providing `--no-registry` flag I hope that peerDependencies will be taken from package.json and no request to npm registry was made.
But when I do so I got something like

[2022-01-31 18:56] watkins-tim commented on #171
+1 having the same bug
`ERR Unexpected end of JSON input`

[2022-02-21 12:42] richokorn opened #193 "`ERR undefined` with v3.0.3 install-peerdeps"
As it says on the tin.

Attempted to run [all five lines](https://github.com/upleveled/eslint-config-upleveled) of @upleveled ESLint config, which begins with:
`CI=true npx install-peerdeps@latest --yarn --dev @upleveled/eslint-config-upleveled`

Appears to run smoothly, and then thrown a cryptically short error:
![image](https://user-images.githubusercontent.com/93930886/154957008-210a5055-57f6-4

[2022-02-21 13:12] richokorn commented on #193
If I change the version to be install-peerdeps@2, (a previous stable-ish version) I receive a few deprecation warnings the first time around:
`CI=true npx install-peerdeps@2 --yarn --dev @upleveled/eslint-config-upleveled`

<details>
<summary>First Install using `install-peerdeps@2`</summary>
[code]
More lines follow, but appear to be quite functional.

<details>
<summary>Entirety has been added f

[2022-02-21 13:24] richokorn commented on #193
Steps to reproduce original error:

1. Create a fresh github repo, open Hyper and navigate to project folder of choice:
2. Clone into repo with `git clone https://github.com/richokorn/nextjs-ditto.git`
3. Run the following:

[code]
4.  Run all 5 lines of @upleveled shared [ESLint config ](https://github.com/upleveled/eslint-config-upleveled#Setup).
4a. Modify first line to `CI=true npx install-pee

[2022-02-24 10:43] OKostadinoska commented on #193
Having exactly the same issue like @richokorn  on Windows 11.

[2022-02-24 15:08] karlhorky commented on #193
cc @nathanhleung a few different students using Windows have had this in our last cohorts, not sure what causes the error message to be `undefined`.

[2022-05-17 04:35] roykathurima opened #206 "Feature Request: Add ability to ignore some peerDependencies"
### Context
We are writing a eslint config that can be used to lint react and non-react projects (also ts and non-ts apps). I know we could write and publish them as different packages each with its own package.json and publish them individually to npm. However, we have one package with all the config separated into different files, each with a specific purpose i.e., only lints JS or TS or react.

[2022-05-17 08:43] zdm commented on #64
Seems, that this is not already actial with the npm 8.

[2022-05-17 08:43] #64 closed

[2022-05-18 03:22] roykathurima commented on #206
Yeah, we were tryna avoid publishing multiple packages. coz we'll potentially have 3 packages; one for JS, one that extends Js to provide TS support and finally one that extends the TS one to provide react support. If we make changes and bump the base package then we'll need to bump the base-package versions on the other two packages. Plus the packages are really small since they are just extendin

[2022-05-18 03:24] ljharb commented on #206
The proper granularity here is definitely “package”. Yes, i understand via maintaining the Airbnb config that this can be annoying, but it’s far better than the alternative.

[2022-07-06 05:07] breeze9527 opened #215 "load package version failure when using yarn@3"
in `getPackageData` function,
install-peerdeps using `yarn info package@version --json` to get package.json content.
but seems like unwork in yarn@3:

first problem, `yarn info` do not support specify version number in package name
![image](https://user-images.githubusercontent.com/16657902/177472011-d15d4774-017a-4f79-b2c1-67d26ea922a9.png)

and, stdout return content with unexpected format:
![im

[2022-07-06 05:45] breeze9527 opened #216 "--no-registry not work"
in commander.js, `--no-xxx` call negatable boolean option, so we should use program.registry instead of program.noRegistry

https://github.com/tj/commander.js#other-option-types-negatable-boolean-and-booleanvalue

[2022-07-06 05:46] #216 closed

[2022-07-06 05:47] breeze9527 commented on #163
in commander.js, --no-xxx call negatable boolean option, so we should use program.registry instead of program.noRegistry in `cli.js`

https://github.com/tj/commander.js#other-option-types-negatable-boolean-and-booleanvalue

[2022-10-05 09:51] Eprince-hub opened #228 "install-peerdeps `ERR undefined` on windows"
Installing ESLint configs using `install-peerdeps` fails on windows 10/11
Running the code below produces the error as seen in the screenshot
[code]

![install-peerdeps-error](https://user-images.githubusercontent.com/74430629/194027556-f88d05ca-6abd-4059-b53a-6a8569a8cb1e.png)

OS: Windows 10 and also tested on windows 11
Node Version: 18
CLI: Hyper

Steps to reproduce
Failing project reproduced

[2022-10-07 14:13] wesbos commented on #228
also hitting this, I found deleting my package-lock.json file fixed it. Not sure why I was hitting it

[2022-10-07 20:19] karlhorky commented on #228
After seeing this error numerous times from different students in the bootcamp, it appears that this `ERR undefined` will happen if there is any error associated with the underlying command.

So, what I understand is:

1. This is actually not the real error message, it is obscuring the real error message
2. It doesn't have to do with some particular error - it happens with all errors (gut feel say

[2022-10-08 10:12] karlhorky commented on #128
Seems like #228, #193 and #150 are also related to this.

[2022-10-08 10:18] karlhorky commented on #127
@ljharb do you think you'll have time in the next weeks / months to add Windows tests?

Would be great to get these tests so that the `ERR undefined` issue can finally be reproduced, investigated and fixed (issues #228, #193, #150, #128)

[2022-10-08 10:20] karlhorky commented on #228
Seems like adding Windows tests (#127) would be a good way to verify the fix and prevent regressions in the future.

[2022-10-08 15:12] ljharb commented on #127
I’d be happy to review a PR, but i have no windows machines so I’m probably not the best person to do it.

[2022-10-18 20:21] karlhorky commented on #228
We instead removed `install-peerdeps` and moved to a simpler custom script in our ESLint config: https://github.com/upleveled/eslint-config-upleveled/compare/v2.19.0...v3.0.0

[2022-11-08 20:30] leandrocunha commented on #228
Same error with me trying to use with my private repo. The solution to display the real error was to use v2 as mentioned above by @karlhorky

[code]